<h1>{{name}}</h1>
<img class="cube" src="{{imageUrl}}">
<div class="details">
  <p><span>Description:</span> {{description}}</p>
  <p><span>Difficulty level:</span> {{difficulty}}</p>
  <a class="btn" href="/">Back</a>
  {{#if author}}
    <a class="btn" href="/cubes/edit/{{id}}">Edit</a>
    <a class="btn" href="/cubes/delete/{{id}}">Delete</a>
  {{/if}}
</div>
<h2>Accessories</h2>
<div class="accessories">
  {{#each accessories}}
    {{>accessory-partial}}
  {{else}}
    <h3 class="italic">This cube has no accessories yet...</h3>
  {{/each}}
</div>